/*global*/
* { margin:0px}
* {padding : 0px}
* {box-sizing : border-box}
* {overflow-x : hidden}
* { font-family: 'Roboto';
    font-style: normal;}
a { color: whitesmoke;} 

$colorFondo: white;
$colorBoton: #A88FAC;
$colorHover: #EFCEFA;
$colorBanner: whitesmoke;


/* estilo GENERAL */

body{
    background-color: $colorFondo;
}


nav{
    border-radius: 30px;

    .nav-logo{
        height: 130px;
    }
}

/* FOOTER */ 

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    background-color: $colorBanner;
    border-radius: 30px;

    div {
        margin: 1px 80px;

        img {
            height: 50px;
            margin: 15px;
        } 
    }
}

/* DECORATION */

a:link, a:visited, a:active{
    text-decoration:none;
}

/* estilo de INDEX */

main{

    #carouselExampleIndicators{
        border-radius: 50px;
        margin: 20px 40px;
    }

    .home-main-div-cat-h2{
        text-align: center;
        padding-top: 100px;
    }

    .home-main-div-categories{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;

        img{
            height: 90px;
            margin: 30px;
        }

        img:hover{
            transform: scale(1.2);
        }
    }

    .home-main-div-destacados{
        text-align: center;
        margin-bottom: 30px;
    }

    #verMas{
        text-align: center;
        margin-bottom: 30px;
    }
}

/* estilo PRODUCTOS */

main{
    .prod-main-section-titulo{
        text-align: center;
        padding-top: 20px;
        animation-name: aparecer;
        animation-duration: 6s;
    }
    .prod-main-section-banner{
        text-align: center;
        height: 400px;
        padding-top: 50px;

        .prod-main-section-banner-a{   /* boton */
            position: absolute;
            right: 400px;
            margin-top: 200px;
            width: 138px;
            height: 50px;
            padding: 10px;
            background-color: $colorBoton;
            border-radius: 90px;
            font-size: 20px;
        }
        .prod-main-section-banner-a:hover{
            color: $colorHover;
        }
    }
}

/* estilo LIQUIDACION */

main{
    .sale-main-section{
        background-color: $colorFondo;
        color: black;
        padding: 20px;

        .sale-main-section-h1{
            text-align: center;
            animation-name: aparecer;
            animation-duration: 6s;
        }

        span{
            text-decoration: line-through;
        }
    }
}

/* estilo de QSOMOS */

main{
    .qsomos-main-section{
        .qsomos-main-section-desc{
            color: black;
            text-align: center;
            padding-top: 50px;
            animation-name: aparecer;
            animation-duration: 5s;
            margin: 1px 100px;

            h1{
                font-size: 50px;
                padding-bottom: 20px;
            }    
        }

        .img-thumbnail{
            border-radius: 200px;
            height: 200px;
            margin: 20px;
            background-color: $colorBoton;
        }

        .qsomos-main-section-video{
            text-align: center;
            padding: 50px;
            background-color: #e3e3e3;
        }

        .qsomos-main-section-ubi{
            text-align: center;
            padding-top: 20px;
            padding-bottom: 50px;
            color: black;
            
            h2, p{
                text-align: center;
            }
        }
    }
}

/* estilo CONTACTO */ 

.mb-3{
    color: black;
}

/* ANIMACIONES */ 

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width:600px) {

    .nav-logo {
        height: 48px;
    }

    /* estilo de INDEX */

main{

    #carouselExampleIndicators{
        margin-top: 20px;
    }

    .home-main-div-cat-h2{
        text-align: center;
        padding-top: 50px;
    }

    .home-main-div-categories{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-top: 1px;

        .home-main-div-categories__img{
            height: 60px;
            animation-name: aparecer;
            animation-duration: 6s;
            margin: 10px;            
        }
    }

    .home-main-div-destacados{
        text-align: center;
        margin-bottom: 30px;
    }

    #verMas{
        text-align: center;
        margin-bottom: 30px;
    }

}

/* estilo PRODUCTOS */

main{

    .prod-main-section-banner{
        text-align: center;
        height: 200px;
        padding-top: 50px;

        .prod-main-section-banner-a{   /* boton */
            position: absolute;
            right: 50px;
            bottom: 50px;
            width: 88px;
            height: 30px;
            padding: 6px;
            background-color: $colorBoton;
            border-radius: 90px;
            font-size: 12px;
        }
    }

    .prod-main-section-titulo{
        text-align: center;
        padding-top: 20px;
        animation-name: aparecer;
        animation-duration: 6s;
    }

}

/* estilo LIQUIDACION */

main{
    .sale-main-section{
        background-color: $colorFondo;
        color: black;
        padding: 20px;

        .sale-main-section-h1{
            text-align: center;
            animation-name: aparecer;
            animation-duration: 6s;
        } 
    }

    span{
        text-decoration: line-through;
    }
}

/* estilo de QSOMOS */

main{
    .qsomos-main-section{
        .qsomos-main-section-desc{
            color: black;
            text-align: center;
            padding-top: 20px;
            animation-name: aparecer;
            animation-duration: 5s;
            margin: 30px;
            h1{
                font-size: 30px;
                padding-bottom: 10px;
            }    
        }
        .img-thumbnail{
            border-radius: 200px;
            height: 200px;
            margin: 20px;
            background-color: $colorBoton;
        }
        .qsomos-main-section-video{
            display: none;
        }
        .qsomos-main-section-ubi{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 20px;
            color: black;
            margin: 5px;

            h2, p{
                text-align: center;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    height: 600px;
}

}

@media only screen and (max-width: 900px){

    .nav-logo {
        height: 48px;
    }

    /* estilo de INDEX */

main{

    #carouselExampleIndicators{
        margin-top: 20px;
    }

    .home-main-div-cat-h2{
        text-align: center;
        padding-top: 50px;
    }

    .home-main-div-categories{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-top: 1px;

        .home-main-div-categories__img{
            height: 70px;
            animation-name: aparecer;
            animation-duration: 6s;
            margin: 25px;            
        }
    }

    .home-main-div-destacados{
        text-align: center;
        margin-bottom: 30px;
    }
    
    #verMas{
        text-align: center;
        margin-bottom: 30px;
    }

}

/* estilo PRODUCTOS */

main{

    .prod-main-section-banner{
        text-align: center;
        height: 400px;
        padding-top: 50px;

        .prod-main-section-banner-a{   /* boton */
            position: absolute;
            right: 60px;
            bottom: 150px;
            width: 110px;
            height: 40px;
            padding: 9px;
            background-color: $colorBoton;
            border-radius: 90px;
            font-size: 15px;
        }
    }

    .prod-main-section-titulo{
        text-align: center;
        padding-top: 20px;
        animation-name: aparecer;
        animation-duration: 6s;
    }

}

/* estilo LIQUIDACION */

main{
    .sale-main-section{
        background-color: $colorFondo;
        color: black;
        padding: 20px;

        .sale-main-section-h1{
            text-align: center;
            animation-name: aparecer;
            animation-duration: 6s;
        } 
    }

    span{
        text-decoration: line-through;
    }
}

/* estilo de QSOMOS */

main{
    .qsomos-main-section{
        .qsomos-main-section-desc{
            color: black;
            text-align: center;
            padding-top: 20px;
            animation-name: aparecer;
            animation-duration: 5s;
            margin: 30px;
            h1{
                font-size: 30px;
                padding-bottom: 10px;
            }    
        }
        .img-thumbnail{
            border-radius: 200px;
            height: 200px;
            margin: 20px;
            background-color: $colorBoton;
        }
        .qsomos-main-section-video{
            display: none;
        }
        .qsomos-main-section-ubi{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 20px;
            color: black;
            margin: 5px;

            h2, p{
                text-align: center;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    height: 400px;
}

}